/* home */
@font-face{
	font-family: greatbibes;
	src: url(../police/GreatVibes-Regular.otf);
}
*{
	margin: 0;
	padding: 0;
}
#nav{
	width: 150px;
	height: 671px;
	background-color:rgba(150,120,110,0.4);
	position: fixed;



}
body{
	background-image: url(../img/photo4.jpeg);
	background-size: 100%;
    height: auto;

}
li{
	padding-top: 49%;
	padding-bottom: 49%;
	color: red;

}
a{
	color: black;
	text-decoration: none;
}
 nav a:hover{

	color: white;
	font-size: 16px;
	transition: font-size 0.5s ;
	transition: color 0.5s;
}
#home{
	width: auto;
	height: 670px;
	
    margin-left: 150px;
    text-align: center;
    
	
    font-family: greatbibes;
    font-size: 30px;


}
#portfolio{
	width: auto;
	height:auto;
	
	margin-left: 150px;
	display:flex;
	justify-content: space-around;
	
	flex-wrap: wrap; 


}
#portfolio div{
	
	height: 300px;
	width: auto;
}
#about{
	width: auto;
	height: 670px;

    margin-left: 150px;
        
}
#contact{
	width: auto;
	height: 670px;
	
	margin-left: 150px;
}
#prensantation{
	
	text-align: center;
}



#titre{
	text-align: center;
	
}

#fond{
	height: 200px;
	width: 700px;
	
    margin-left: 230px;
    margin-top: 205px;
    background-image: url(../img/images.jpeg);
    background-size: 100%;
    background-position: bottom;
    color: white;

}
#port{
	 
	margin-top:190px;
	border-radius: 10px;
	color: white;


}

/* le home fini */



/* portfolios */




#para1{
	text-align: center;
	color: white;
    font-family: greatbibes;
    font-size: 30px;


}
#para2{
	text-align:  center;
 	color: white;
    font-family: greatbibes;
    font-size: 30px;

}
#para3{
	text-align: center;
	color: white;
    font-family: greatbibes;
    font-size: 30px;

}
#para4{
	text-align: center;
	color: white;
	margin-bottom: 21px;
    font-family: greatbibes;
    font-size: 30px;


}
.imgPort{
	width: 380px;
	height: 250px
 	font-size: 30px;
}

#portfolio2 {
	margin-right: -41px;
}

/*home*/
#titre1{
	text-align: center;
	color: white
}

 #titre1,#para4{


 }
 #titre2{
 	font-family: greatbibes;
 	font-size: 30px;
 	height: 500px;
 	width: 700px;
 	margin-left: 220px;
 	margin-top: 7%;
 	background-image: url(../img/photo2.png);
 	background-size: 100%
    font-size: 60%;


 }


 /*contact*/

 #contact{
	width: auto;
	height: 670px;
	
	margin-left: 150px;
	text-align: center;
	color: white;
}
#cont{
	color: white;
}
#header{
	width: 600px;
	height: 668px;
	margin-left: 270px; 
	background-image: url(../img/index.jpeg);
	background-size: 100%


}
#footer{font-family: greatbibes;
 	font-size: 30px;}
