div{
	height: 200px;
	width: 200px;
	border: 1px solid black ;
	float: left;
}

#div1{
	background-color: #EE7D20;
	margin-top: 20px;
}
#div2{
	background-color: #EEB120;
	margin-top: 40px;
}
#div3{
	background-color: #273DAE;
	margin-top: 60px;

}
#div4{
	background-color: #138F8F;
	margin-top: 80px;
}